/*#59A1A5
  #97DBD1
  #FFF7E8
  #FFF1D6
  #FFD88F
  #FF9E5E
  #FF7893

  */

body {
	background-color: #fff7e8;
	background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
	margin: 0;
	font-family: "Nunito", sans-serif;
}
